/* These global variables attached to the root element are included here for theming according to the assignment outline */

:root {
    --dark: #1f2937; /* Hero and Footer background, Information Header text and Quote text */
    --grey-blue: #e5e7eb; /* Quote Section bg color, Hero Secondary text and Header Link text */
    --light: #f9faf8; /* Hero text and Logo text */
    --cta-bg-color: #3882f6; /* Use as the CTA button color too  */
  
    --extra-large-text-size: 48px; /*  Hero Header text */
    --large-text-size: 36px; /*  Information Header text and Quote text */
    --medium-text-size: 24px; /*  Header Logo text */
    --small-text-size: 18px; /*  Hero Secondary and Header Link text */
  
    --extra-bold: 800; /*  Font-weight for Hero Main and Information Header text */
    --lightWeight: 300; /*  Font-weight for Quote text, use with "font-style: italic" for the Quote text */
  }
  @font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
font-family: "Roboto", sans-serif;
}

/* header styles */
#header {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
background-color: var(--dark);
padding: 1.5rem;
height: auto;
}

.main_nav {
display: flex;
justify-content: space-between;
gap: 20rem;
}

.header_logo a {
font-size: var(--medium-text-size);
color: var(--light);
font-weight: var(--extra-bold);
text-decoration: none;
}

.nav_links {
display: flex;
align-items: center;
gap: 20px;
margin-right: 2rem;
}

.nav_links a {
text-decoration: none;
color: var(--grey-blue);
font-size: var(--small-text-size);
cursor: pointer;
transition: color 0.3s ease;
}

.nav_links a:hover {
color: var(--cta-bg-color);
}

.nav_links a.current{
color: grey;
}

/* end of header styles */

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* #container{
    display: flex;
    flex-direction: column;
    align-items: center
    

} */
/* about section */
#about_sec{
    display: flex;
    justify-content: center;
    background-color:var(--light);
    padding: 2rem;
    margin-top: 4rem;
}

.about{
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
}
.about figcaption h2{
    font-size: var(--large-text-size);
    color: var(--cta-bg-color);
    margin-bottom: 1rem;
}
.about figcaption {
    font-size: var(--medium-text-size);
    /* letter-spacing: 1px; */
    /* padding: 2rem; */
    line-height: 1.5; /* Increases line spacing for readability */
    max-width: 600px; 
}

.about img{
    width: 35%;
    height: auto;
    border-radius: 1rem;
    opacity: 0; /* Start with the image invisible */
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s;
}
/* contact section */
#contact_sec{
    display: flex;
    justify-content: center;
    background-color:var(--dark);
    padding: 2rem;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
}
.contact figcaption{
    color: var(--cta-bg-color);
    font-size: var(--medium-text-size);
    /* letter-spacing: 1px;
    padding: 2rem; */
    line-height: 1.5; /* Increases line spacing for readability */
    max-width: 600px; /* Limits the width for easier reading */
 
}
.contact figcaption h2{
    font-size: var(--large-text-size);
    color: var(--light);
    font-weight: var(--extra-bold);
    margin-bottom: 1rem;
}
.contact img{
    width: 35%;
    height: auto;
    border-radius: 1rem;
    opacity: 0; /* Start with the image invisible */
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s;

}
#our_goals_sec{
    display: flex;
    justify-content: center;
    background-color:var(--light);
    padding: 2rem;
}
.our_goals{
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
}
.our_goals figcaption{
    font-size: var(--medium-text-size);
    /* letter-spacing: 1px;
    padding: 2rem; */
    line-height: 1.5; /* Increases line spacing for readability */
    max-width: 600px; /* Limits the width for easier reading */
}
.our_goals figcaption h2{
    color: var(--cta-bg-color);
    margin-bottom: 1rem;
}
.our_goals  img{
    width: 35%;
    height: auto;
    border-radius: 1rem;
    opacity: 0; /* Start with the image invisible */
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s;

}
/*footer styles */
#footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1.5rem;
    height: auto;
    font-size: var(--small-text-size);
  }
  
  #footer a{
    display: block;
    text-decoration: none;
    color: var(--light);
    margin: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  #footer a:hover{
    color: var(--cta-bg-color);
  }
  
  #footer p {
    color: var(--light);
    margin: 1rem;
  }
  
  #footer hr{
    width: 300px;
  }
  /* End of footer styles */
  
  @media (max-width: 1024px) {
    .main_nav {
        gap: 10rem;
    }

    .about img,
    .contact img,
    .our_goals img {
        
        width: 45%;
        height: auto;
    }
    .about,.our_goals,.contact{
        gap: 5rem;
    }
    .about figcaption h2{
        margin-bottom: 0.5rem;
    }
    .about figcaption , .our_goals figcaption , .contact figcaption{
        font-size: var(--medium-text-size);
        padding: 1rem;
        line-height: 1.2; /* Increases line spacing for readability */
        max-width: 600px; /* Limits the width for easier reading */
        /* margin: 0 auto; Centers the text block within its container */
    }
    
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main_nav {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }
    
      .nav_links {
        flex-direction: column;
        gap: 0.5rem;
      }
      
      #about_sec{
        margin-top: 7rem;
      }

    .about,
    .contact,
    .our_goals {
        flex-direction: column;   
        justify-content: center;
    }

    

    .contact img,
    .our_goals img,.about img  {
        display: none; /* Hide images in Contact and Our Goals sections */
    }

    figcaption {
        padding: 1rem;
        line-height: 1;
        

    }
}

@media (max-width: 480px) {
    .main_nav {
        padding: 1rem;
    }
    #about_sec{
        margin-top: 10rem;

    }

    .about img {
        width: 80%;
        margin-top: 8rem;
    }

    figcaption {
        font-size: var(--small-text-size);
    }
}
