@import url("../styles/index.css");

/* hero styles */
#heroId {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  width: 100%;
  height: 100vh;
}

.hero-content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-bottom: 7rem;
}
.hero-heading {
  font-size: var(--extra-large-text-size);
  font-weight: var(--extra-bold);
  color: var(--light);
}
.hero-description {
  font-size: var(--medium-text-size);
  color: var(--grey-blue);
  margin-top: 0.5rem;
}
.hero-shop-button {
  background-color: var(--light);
  color: var(--dark);
  border: none;
  padding: 0.7rem 2rem;
  font-size: var(--small-text-size);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}
.hero-shop-button:hover {
  background-color: #6a8ac4;
}

.hero-content-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content-right img {
  width: 70%;
}
/* end of hero styles */

/* about section styles */
#about {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about-content-left {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 3rem;
  flex: 1;
  background-color: #f9faf800;
}
.about-heading {
  font-size: var(--large-text-size);
  color: var(--dark);
  margin-bottom: 2rem;
}
.about-content {
  font-size: var(--medium-text-size);
  color: var(--dark);
  line-height: 1.6;
  text-align: justify;
}
.about-content-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content-right img {
  width: 90%;
}
/* end of about section styles */

/* category section styles */
#category {
  background-color: var(--grey-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.category-heading {
  font-size: var(--large-text-size);
  color: var(--dark);
  font-weight: var(--extra-bold);
  padding-top: 5rem;
}
.category-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
  margin-top: 1rem;
}
.card {
  background-color: white;
  border-radius: 8px;
  width: 250px;
  height: 320px;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}
.card-image {
  width: 100%;
  height: 150px; /* Adjust as needed */
  object-fit: cover; /* Ensures the image covers the area while preserving aspect ratio */
}

.card-title {
  font-size: var(--medium-text-size);
  color: var(--dark);
  margin: 0.3rem;
  font-weight: var(--extra-bold);
}

.card-description {
  font-size: var(--small-text-size);
  color: var(--dark);
  font-weight: var(--lightWeight);
  margin: 0;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* end of category styles */

/* featured-products styles */
#featured-products {
  background-color: var(--light);
  height: 100vh;
  margin-top: 3rem;
}
/* header styles */
.section-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}
.section-header h2 {
  font-size: var(--medium-text-size);
  color: var(--dark);
  font-weight: var(--extra-bold);
}
.see-more-btn {
  border: none;
  cursor: pointer;
  font-size: var(--small-text-size);
  color: var(--dark);
  background-color: inherit;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000;
}
.section-actions {
  display: flex;
  gap: 5px;
}
.see-more-btn:hover {
  color: rgba(255, 0, 0, 0.639);
}
/* end of header styles */

/* products style */
.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.card-product {
  background-color: white;
  border-radius: 8px;
  width: 350px;
  height: 500px;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}
.product-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.card-price {
  font-size: var(--medium-text-size);
  color: var(--dark);
  margin-bottom: 1rem;
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translateX(50%);
}
.card-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: inherit;
  font-size: var(--small-text-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: #1f2937f6;
  color: var(--light);
}
/* end of  */

/* new-arrivals style */
#new-arrivals {
  background-color: var(--light);
  margin-bottom: 7rem;
}

/* For devices smaller than 600px */
@media (max-width: 600px) {
  .hero-content-right {
    display: none;
  }
  .hero-content-left {
    align-items: flex-start;
    gap: 7px;
    padding: 2rem;
  }
  #about {
    flex-direction: column;
    gap: 1rem;
  }
  .about-content-left {
    padding: 2rem;
    margin-bottom: 0.5rem;
  }
  .about-heading {
    margin-bottom: 1rem;
  }
  .about-content {
    line-height: 1.6;
    text-align: start;
  }
  #category {
    height: auto;
  }
  .category-content {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  .card {
    height: 300px;
  }
  #featured-products {
    height: auto;
  }
  .products-list {
    flex-direction: column;
  }
  .card-product {
    width: 300px;
    height: 400px;
    padding: 0.5rem;
  }
  .product-card-img {
    width: 80%;
    height: 200px;
  }
  .card-price {
    margin-bottom: 0.5rem;
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
  }
  #new-arrivals {
    margin-top: 5rem;
    height: auto;
  }
}

/* For devices between 600px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .hero-content-left {
    padding: 1rem;
    align-items: flex-start;
    margin-top: 2rem;
  }
  .hero-heading {
    font-size: var(--large-text-size);
  }
  .hero-description {
    font-size: var(--small-text-size);
  }
  .hero-content-right {
    justify-content: center;
  }
  .hero-content-right img {
    max-width: 90%;
    height: 450px;
  }
  .about-content-left {
    margin-top: 3rem;
    padding: 0.5rem;
  }
  .about-heading {
    font-size: var(--medium-text-size);
    margin-bottom: 1rem;
  }
  .about-content {
    font-size: var(--small-text-size);
    line-height: 1.2;
    text-align: start;
  }
  .about-content-right {
    justify-content: center;
    align-items: center;
  }
  .about-content-right img {
    max-width: 100%;
    height: 450px;
  }
  #category {
    height: auto;
  }

  .category-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .card {
    width: calc(50% - 1rem);
    height: auto;
  }

  .card-image {
    height: 150px;
  }
  #featured-products {
    height: auto;
  }
  .products-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  .card-product {
    width: calc(50% - 1rem);
    height: 400px;
    padding: 0.5rem;
  }
  .product-card-img {
    max-width: 80%;
    height: 200px;
  }
  .card-price {
    margin-bottom: 0.5rem;
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
  }
  #new-arrivals {
    margin-top: 5rem;
    height: auto;
  }
}

/* For devices between 900px and 1250px */
@media (min-width: 900px) and (max-width: 1250px) {
  .hero-content-left {
    padding: 1rem;
    align-items: flex-start;
    margin-top: 2rem;
  }
  .about-content-left {
    margin-top: 3rem;
    padding: 0.5rem;
  }
  .about-content {
    line-height: 1.5;
    text-align: start;
  }
  #featured-products {
    height: auto;
  }
  .products-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  .card-product {
    width: calc(40% - 1rem);
    height: 400px;
    padding: 0.5rem;
  }
  .product-card-img {
    max-width: 100%;
    height: 200px;
  }
  .card-price {
    margin-bottom: 0.5rem;
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
  }
  #new-arrivals {
    margin-top: 5rem;
    height: auto;
  }
}
