/* These global variables attached to the root element are included here for theming according to the assignment outline */

:root {
  --dark: #1f2937;
  /* Hero and Footer background, Information Header text and Quote text */
  --grey-blue: #e5e7eb;
  /* Quote Section bg color, Hero Secondary text and Header Link text */
  --light: #f9faf8;
  /* Hero text and Logo text */
  --cta-bg-color: #3882f6;
  /* Use as the CTA button color too  */

  --extra-large-text-size: 48px;
  /*  Hero Header text */
  --large-text-size: 36px;
  /*  Information Header text and Quote text */
  --medium-text-size: 24px;
  /*  Header Logo text */
  --small-text-size: 18px;
  /*  Hero Secondary and Header Link text */

  --extra-bold: 800;
  /*  Font-weight for Hero Main and Information Header text */
  --lightWeight: 300;
  /*  Font-weight for Quote text, use with "font-style: italic" for the Quote text */
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* styles for desktop */
/* header styles */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--dark);
  padding: 1.5rem;
  height: auto;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  gap: 20rem;
}

.header_logo a {
  font-size: var(--medium-text-size);
  color: var(--light);
  font-weight: var(--extra-bold);
  text-decoration: none;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 2rem;
}

.nav_links a {
  text-decoration: none;
  color: var(--grey-blue);
  font-size: var(--small-text-size);
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav_links a:hover {
  color: var(--cta-bg-color);
}

.nav_links a.current {
  color: grey;
}

/* end of header styles */

/* services styles */
#services {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 77px;
  height: auto;
  width: 100%;
  background-image: url(../assets/images/services_images/services_bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.services_greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 2rem 3rem 2rem;
  background-color: var(--dark);
  border-radius: 1rem;
  width: 36rem;
  height: auto;
}

.services_main_figure img {
  border-radius: 1rem;
  width: 32rem;
  margin-bottom: 1rem;
}

.services_header {
  font-size: var(--extra-large-text-size);
  font-weight: var(--extra-bold);
  color: var(--light);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tagline {
  color: var(--light);
  font-size: var(--medium-text-size);
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: inherit;
}

.services_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 35rem;
  margin: 3rem 0 0 2rem;
  padding-top: 1rem;
}

.service_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  background-color: var(--dark);
  border-radius: 1rem;
  padding: 1rem 0 1rem 0;
}

.service_number {
  font-size: var(--large-text-size);
  color: var(--light);
  padding-left: 1rem;
  padding-right: 1rem;
}

.service_header {
  font-size: var(--medium-text-size);
  color: var(--light);
  margin-bottom: 0.5rem;
  text-align: start;
}

.service_text {
  font-size: var(--small-text-size);
  color: rgb(194, 203, 206);
  padding-right: 2rem;
  text-align: justify;
}

/* services_details styles */
#services_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: var(--grey-blue);
  color: var(--dark);
  padding: 2rem 4vw 2rem 4vw;
}

#services_details article {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

#services_details article img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  margin: 2rem;
  z-index: 10;
}

.img_border {
  width: 21rem;
  height: 21rem;
  margin: 2rem;
  border-radius: 1rem;
  z-index: 5;
  background-color: var(--cta-bg-color);
}

#services_details .finance_left {
  display: flex;
  flex-direction: column;
}

button.appointment_button {
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  align-self: flex-end;
  font-size: var(--small-text-size);
  background-color: var(--dark);
  color: var(--grey-blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.appointment_button:hover {
  background-color: var(--cta-bg-color);
}

.article_header {
  font-size: var(--large-text-size);
  font-weight: var(--extra-bold);
  margin-bottom: 2rem;
}

.article_text {
  width: 40rem;
  font-size: var(--small-text-size);
  text-align: justify;
}

.repair_article {
  align-self: flex-start;
  margin-left: 3vw;
}

.finance_article {
  align-self: flex-end;
  margin-right: 3vw;
}

.aftercare_article {
  align-self: flex-start;
  margin-left: 3vw;
}

/* end of services styles */
/*footer styles */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 0.5rem;
  height: auto;
  font-size: var(--small-text-size);
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer a {
  display: block;
  text-decoration: none;
  color: var(--light);
  margin: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

#footer a:hover {
  color: var(--cta-bg-color);
}

#footer p {
  color: var(--light);
  margin: 1rem;
}

#footer hr {
  width: 300px;
}

/* end of footer styles */
/* end of styles for desktop */
/* media queries */
@media (min-width: 901px) and (max-width: 1250px) {
  #services {
    height: auto;
    justify-content: space-around;
    background-size: 100vw auto;
    object-fit: fill;
    background-image: url(../assets/images/services_images/services_tablet_bg.png);
  }

  .services_greeting {
    width: 25rem;
    min-width: 25rem;
  }

  .services_main_figure {
    margin-top: 2rem;
    width: 23rem;
    min-width: 23rem;
  }

  .services_main_figure img {
    width: 23rem;
  }

  .services_right {
    padding-left: 0;
    padding-top: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding-bottom: 0;
    align-self: flex-start;
    font-size: var(--small-text-size);
  }

  .service_text {
    padding-right: 1rem;
  }

  #services_details {
    padding: 2rem 0rem 2rem 0rem;
    width: 100%;
  }

  #services_details article img {
    height: 16rem;
    width: 16rem;
    margin: 2rem 2rem 2rem 2rem;
  }

  .img_border {
    width: 17rem;
    height: 17rem;
    margin: 2rem;
    border-radius: 1rem;
    background-color: var(--cta-bg-color);
  }

  .article_header {
    font-size: var(--medium-text-size);
    font-weight: var(--extra-bold);
    margin-bottom: 2rem;
  }

  .article_text {
    font-size: var(--small-text-size);
    width: 30rem;
  }

  .repair_article {
    margin-left: 0;
  }

  .finance_article {
    margin-right: 0;
  }

  .aftercare_article {
    margin-left: 0;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .main_nav {
    align-items: center;
    gap: 0.5rem;
  }

  #services {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-size: 100% auto;
    background-image: url(../assets/images/services_images/services_mobile_bg.png);
  }

  .services_greeting {
    width: 27rem;
    min-width: 27rem;
  }

  .services_main_figure {
    align-self: center;
    width: 23rem;
    margin-top: 2rem;
    padding: 0;
  }

  .services_main_figure img {
    width: 23rem;
  }

  .services_right {
    padding-left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .service_text {
    padding-right: 1rem;
  }

  article {
    margin: 1rem 0 1rem 0;
  }

  #services_details {
    padding-left: 0;
    padding-right: 0;
  }

  #services_details article img {
    display: none;
  }

  .img_border {
    display: none;
  }

  .article_header {
    font-size: var(--medium-text-size);
    font-weight: var(--extra-bold);
    margin-bottom: 2rem;
  }

  .article_text {
    font-size: var(--small-text-size);
    width: 32rem;
  }

  .repair_article {
    align-self: center;
    padding: 0;
    margin: 2rem 0 1rem 0;
  }

  .finance_article {
    align-self: center;
    padding: 0;
    margin: 1rem 0 1rem 0;
  }

  .aftercare_article {
    align-self: center;
    padding: 0;
    margin: 1rem 0 1rem 0;
  }

  #footer {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 599px) {
  .main_nav {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .nav_links {
    flex-direction: column;
    gap: 0.5rem;
  }

  #services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    margin-left: 0;
    margin-right: 0;
    height: 84rem;
    background-size: 100vw 84rem;
    background-image: url(../assets/images/services_images/services_mobile_bg.png);
  }

  .services_greeting {
    width: 22rem;
    min-width: 22rem;
    margin-bottom: 0rem;
  }

  .services_main_figure {
    align-self: center;
    width: 20rem;
    margin-top: 2rem;
  }

  .services_main_figure img {
    width: 20rem;
  }

  .services_right {
    padding-left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .service_text {
    padding-right: 1rem;
  }

  #services_details article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  #services_details .finance_article {
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 2rem;
  }

  #services_details article img {
    height: 13rem;
    width: 13rem;
  }

  .img_border {
    width: 14rem;
    height: 14rem;
  }

  .article_header {
    font-size: var(--medium-text-size);
    font-weight: var(--extra-bold);
    margin-bottom: 2rem;
  }

  .article_text {
    font-size: var(--small-text-size);
    width: 20rem;
  }

  .repair_article {
    align-self: center;
    width: 19rem;
    margin: 0;
  }

  .finance_article {
    align-self: center;
    width: 19rem;
    margin: 0;
  }

  .aftercare_article {
    align-self: center;
    width: 19rem;
    margin: 0;
  }
}
