/* These global variables attached to the root element are included here for theming according to the assignment outline */
@import url("../styles/index.css");  /*header styles add from index.css*/
:root {
  --dark: #1f2937; /* Hero and Footer background, Information Header text and Quote text */
  --grey-blue: #e5e7eb; /* Quote Section bg color, Hero Secondary text and Header Link text */
  --light: #f9faf8; /* Hero text and Logo text */
  --cta-bg-color: #3882f6; /* Use as the CTA button color too  */

  --extra-large-text-size: 48px; /*  Hero Header text */
  --large-text-size: 36px; /*  Information Header text and Quote text */
  --medium-text-size: 24px; /*  Header Logo text */
  --small-text-size: 18px; /*  Hero Secondary and Header Link text */

  --extra-bold: 800; /*  Font-weight for Hero Main and Information Header text */
  --lightWeight: 300; /*  Font-weight for Quote text, use with "font-style: italic" for the Quote text */
}

@font-face {
  font-family: "Roboto";
  src: url("../assits/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../assits/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/* styles for desktop */
/* hero styles */
#hero {
  width: 100vw;
  height: calc(100vh - 76px);
  background-image: url(../imges/jpeg-optimizer_Home.png);
  background-repeat: no-repeat;
  background-size: 100vw calc(100vh - 76px);
}

.tagline{
  position: relative;
  top: 80vh;
  left: 12vw;
  color: var(--light);
  font-size: var(--medium-text-size);
}
/* end of hero styles */
/* start of profile styles */
#profile{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45vh;
  background-color: var(--grey-blue);
}

.profile_figure{
  display:flex;
  align-items: flex-start;
  margin-left: 2rem;
  padding: 1rem 4rem;
}

.profile_figure img{
  width:28rem;
  margin-right: 2rem;
}

.profile_right{
  margin: 0rem 2rem;
}

.profile_header{
  font-size: var(--extra-large-text-size);
  font-weight: var(--extra-bold);
  color: var(--dark);
  margin-bottom: 2rem;
}

.profile_text{
  color: var(--dark);
  font-size: var(--medium-text-size);
  padding-right: 2rem;
}
/* end of profile styles */
/* services styles */
#services{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40rem;
  background-color: var(--dark);
}

.services_left{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
  align-self: flex-start;
}

.services_left img{
  width:22rem;
}

.services_header{
  font-size: var(--extra-large-text-size);
  font-weight: var(--extra-bold);
  color: var(--light);
  margin-bottom: 2rem;
}

.services_right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 2rem;
  padding-left: 1rem;
  padding-top: 4rem;
}

.service_item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.service_number{
  font-size: var(--large-text-size);
  color: grey;
  padding-left: 1rem;
  padding-right: 1rem;
}

.service_header{
  font-size: var(--medium-text-size);
  color: var(--light);
  margin-bottom: 0.5rem;
}

.service_text{
  font-size: var(--small-text-size);
  color: var(--light);
  padding-right: 2rem;

}
/* end of services styles */
/*footer styles */
#footer {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1.5rem;
  height: auto;
  font-size: var(--small-text-size);
}

#footer a{
  display: block;
  text-decoration: none;
  color: var(--light);
  margin-bottom: 1rem;

}

#footer a:hover{
  color: var(--cta-bg-color)
}

/* end of footer styles */
/* end of styles for desktop */
/* media queries */
@media (min-width: 901px) and (max-width: 1050px) {

  #profile{
    height: 45vh;
  }

  .profile_text{
    padding-right: 2rem;
  }

  .profile_figure img{
    width: 20rem;
  }

  #services{
    height: 40rem;
  }

  .services_left{
    align-self: center;
  }

  .services_right{
    padding-left: 0;
  }

  .service_text{
    padding-right: 0;
  }


  .services_left img{
    width: 20rem;
  }

}

@media (min-width: 601px) and (max-width: 900px) {
 
  .main_nav {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  #profile{
    height: 45rem; 
  }

  .profile_figure{
    flex-direction: column-reverse;
    align-items: center;
  }

  .profile_figure img{
    width: 25rem;
    margin-bottom: 1rem;
  }

  .profile_text{
    padding-right: 2rem;
    margin-bottom: 2rem;
  }

  #services{
    flex-direction: column;
    height: 60rem;
  }

  .services_left{
    align-self: flex-start;
  }
  .services_right{
    padding-left: 0;
  }

  .service_text{
    padding-right: 0;
  }


  .services_left img{
    width: 25rem;
  }

}

@media (max-width: 600px){
  .main_nav {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .nav_links {
    flex-direction: column;
    gap: 0.5rem;
  }

  #profile{
    height: 45rem; 
  }

  .profile_figure{
    flex-direction: column-reverse;
    align-items: center;
  }

  .profile_figure img{
    width: 20rem;
    margin-bottom: 1rem;
  }

  .profile_right{
    margin: 0rem 0.5rem;
  }
  
  .profile_text{
    padding-right: 0.5rem;
    margin-bottom: 2rem;
  }

  #services{
    flex-direction: column;
    height: 75rem;
  }

  .services_right{
    padding-left: 0;
  }

  .service_text{
    padding-right: 0;
  }


  .services_left img{
    width: 20rem;
  }


}